include AUTHORS ChangeLog FAQ INSTALL LICENSE.* NEWS README TODO MANIFEST.in web/peppy-web-logo.png run.py
recursive-include docs *
recursive-include tests *
recursive-include manual *
recursive-include peppy/editra/styles *
recursive-include peppy/editra/tests *
recursive-include peppy/editra/syntax *
global-include *.peppy-plugin
recursive-include peppy/icons *
prune manual/_build
prune peppy-*
