/* - - - - - - CSS Document - - - - - - - - -

Title : Style Sheet for Thickbox
Author : Cody Lindley, Jason Levine

- - - - - - - - - - - - - - - - - - - - - */

html, body {height:100%;}

#TB_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#TB_window {
	position: absolute;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
}

#TB_window img {
	display:block;
	margin: 0px 0 5px 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption, #TB_prev{
	height:25px;
	padding:10px 30px 0px 25px;
	float:left;
}

#TB_closeWindow, #TB_next{
	height:25px;
	padding:10px 25px 0px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	background-color:#e8e8e8;
}

#TB_ajaxContent{
	padding:2px 15px 15px 15px;
	overflow:auto;
}

#TB_load{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	overflow: visible;
	visibility: visible;
	display: block;
	z-index:101;
}

#TB_loadContent  {
	margin-left: -125px;
	position: absolute;
	top: -50px;
	left: 50%;
	width: 250px;
	height: 100px;
	visibility: visible;
}

#TB_SecondLine, #TB_ImageDIV {
	clear: both;
}